<div id="header" style="top:0;height: 100px;position: fixed;z-index: 1;width: 100%;background-color: #fff;">
  <div class="d-flex">
     <div style="width: 225px;border-right: 1px solid rgb(203, 203, 203);height: 100px;">
      <div class="mt-1 ml-2 mr-2 mb-2" style="padding-left: 60px;">
        <a href="index.html" class="logo">
          <img src="assets/images/myne-logo.svg" alt="logo">
        </a>
      </div>
    </div>
    <div style="height: 100px;width: calc(100vw - 450px);">
      <div class="container-fluid form-group" style="padding: 40px 15px 5px 15px;">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1" style="height: 38px;border: 0px solid #fff;background: rgb(245, 243, 243) !important;"><img src="assets/images/myne-smll-logo.png" alt="logo" style="height: 25px;"></span>
          <input type="text" class="form-control" style="background-color: rgb(245, 243, 243);border: 0px solid #fff;" placeholder="Search for electronics"  (keydown.enter)="searchPost($event)"/>
          </div>
      </div>
    </div>
    <div class="ml-auto" style="width: 220px;height: 100px;">
      <div class="d-flex" style="margin-top: 10px;">
        <div class="m-2"><div class="profile-top img-circle elevation-2">S</div></div>
        <div>
           <div style="font-weight: 500;" class="ml-2 mt-3">Shesh</div>
           <div class="fw-lighter ml-2">Small text</div>
        </div>
        <div>
          <a class="dropdown-toggle no-arrow" style="margin-right: -10px;" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                          <i class="fas fa-ellipsis-h ml-2 mt-5 text-gray-400"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                              aria-labelledby="dropdownMenuLink">
                                              <a class="dropdown-item" href="javascript:void(0)">Settings</a>
                                              <a class="dropdown-item" href="javascript:void(0)" routerLink="/signin">Logout</a>
                                          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="top:100px;">
  <div class="d-flex">
     <div style="z-index: 1;position: fixed;width: 225px;border-right: 1px solid rgb(203, 203, 203);height: calc(100vh - 100px);top:100px;">
      <div class="ml-4 mr-4 mt-2 mb-2">
        <nav class="nav flex-column">
          <a class="nav-link left-menu" routerLink="/home"><i class="fas fa-home mr-2"></i>Home</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-lemon mr-2"></i>Discover</a>
          <a [ngClass]="isSaleSelect ? 'nav-link left-menu active':'nav-link left-menu'" routerLink="/listing" (click)="isSalSelect(true);"><i class="fas fa-tag mr-2"></i>For Sale</a>
          <a [ngClass]="!isSaleSelect ? 'nav-link left-menu active':'nav-link left-menu'" routerLink="/listing" (click)="isSalSelect(false);"><i class="fas fa-yin-yang mr-2"></i>For Free</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-bell mr-1"></i> Notifications</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-comment mr-1"></i> Chats</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="fas fa-users mr-1"></i> Groups</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="fas fa-user-friends mr-2"></i>Neighbors</a>
          </nav>
      </div>
      <div class="m-4" style="padding-top: 6px;padding-left: 15px;">
        <button type="button" class="btn btn-info border-0" style="border-radius: 5px !important;background-color: #8B5805 !important;width: 145px;" data-bs-toggle="modal" data-bs-target="#newPost">Post</button>
        <div class="mt-4">
        <button type="button" class="btn btn-outline-warning" style="border-radius: 5px !important;width: 145px;">Post Ad</button>
        </div>
      </div>
    </div>
    <div style="border-right: 1px solid rgb(203, 203, 203);width: calc(100vw - 230px);margin-top: 100px;margin-left:225px;min-height: calc(100vh - 100px);">
      <div >
        <div> 
          <div>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link top-menu active" routerLink="/listing" (click)="isSalSelect(true);">All Listings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link top-menu" routerLink="/listing" (click)="isSalSelect(true);">Your listings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link top-menu" routerLink="/listing" (click)="isSalSelect(true);">Saved listings</a>
              </li>
            </ul>
          </div>
            <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
        </div>
      </div>
      <div  style="padding:10px 22px;">
        <div>
          <div class="card-deck">
            <div class="card" *ngIf= "searchResultDet.mediaPaths.length>0">
                <img [src]="searchResultDet.mediaPaths[0].url" class="rounded card-img-top" alt="Card image cap" *ngIf="searchResultDet.mediaPaths[0].contentType.includes('image')">
                <div class="video-wrapper"  *ngIf="searchResultDet.mediaPaths[0].contentType.includes('video')">                           
                      <video id="myVideo1" controls="true" loop="true" width="300" height="200" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="searchResultDet.mediaPaths[0].url | safe" [type]="searchResultDet.mediaPaths[0].contentType"> </video> 
                </div>
            </div>
            <div class="card">
              <div class="card-body" style="padding:0px;">
                <div class="d-flex">
                  <div style="font-weight: 500;font-size: 22px;">{{searchResultDet.title}}</div>
                  <div class="ml-auto">
                    <i class="far fa-bookmark ml-2"></i> 
                    <i class="fas fa-ellipsis-h ml-2 mr-2 text-gray-400"></i>
                  </div>
                </div>
                
                <div style="font-weight: 500;" class="mb-4" *ngIf="isSaleSelect">{{searchResultDet.price}}$</div>
                <div class="d-flex">
                  <div style="width: 75px;"><img src="assets/images/NotAvailable.jpg" style="width: 55px;" class="img-circle elevation-2"></div>
                  <div>
                    <div style="font-size: 17px;font-weight: 600;"><span>{{searchResultDet.creatorName}}.</span></div>
                    <p class="card-text"><small class="text-muted">EC,Bangalore ,0.2km</small></p>
                    <div class="card-text">{{searchResultDet.description}}..<small class="text-muted ml-2">more</small></div>
                  </div>
                </div>
                <div class="card-text" style="text-align: end;"><small class="text-muted">Last updated 3 mins ago</small></div>
                <div class="mt-2">
                  <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    <div><i class="far fa-comment mr-1"></i><small class="text-muted"> Send Monisha a message</small> </div>
                     <div class="m-2" style="background-color: #F3F9FA;border-radius: 20px;min-height: 25px;"> 
                      <div style="margin: 5px 20px;" class="d-flex">
                         <div>Hi is this still for sale ?</div>
                         <div class="ml-auto"><i class="fas fa-arrow-right"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div> 


<!--modal for create-->
<div class="modal fade" id="newPost" data-bs-backdrop="static" data-bs-keyboard="false"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" required autocomplete="off">
	<div class="modal-dialog" role="document">
	  <div class="modal-content" >
		  <div>
		  <button type="button" class="close mr-2" data-bs-dismiss="modal" aria-label="Close" #closeButtonNewSave>
			<span aria-hidden="true">&times;</span>
		  </button>
		   </div>
		   <div class="modal-body" style="margin-top: -5px;">
			<div class="row mb-3">
			  <div class="col-sm-1"><img src="assets/images/NotAvailable.jpg" style="width: 35px;" class="img-circle elevation-2"></div>			 
			  <div class="col-sm-11">
          <div style="border-radius: 5px;border: 1px solid rgb(203, 203, 203);">
            <textarea class="form-control" placeholder="What's on your mind?" style="border:0px solid;"></textarea>
            <div id="imgSec2" class="image-preview mb-3" *ngIf="previewUrl2" [innerHtml]="data2"></div>
            <div id="emoSec2"></div>
          </div>
        <div class="m-1 d-flex">
          <div>
            <select class="form-control form-control-sm border-0">
              <option>Anywhere</option>
              <option>Only Friends</option>
              <option>Groups</option>
            </select>
          </div>
          <div></div>
        </div>
                 <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
                  <div class="d-flex mt-1">
                        <div>
                          <label>
                            <i class="far fa-image mr-2 link3"  title="Upload Photo"></i>
                            <input type="file" id="file" style="display: none" name="image" accept="image/*" multiple="true" data-original-title="upload photos" (change)="onFileChanged($event,2)">
                          </label>
                          <a  routerLink="/signup" class="link-2" title="Upload GIF Poto"><img src="assets/images/GIF.png" style="width: 19px;margin-top: -4px;" class="mr-2"></a> 
                          <a  routerLink="/signup" class="link-2" title="Happyness"><i class="far fa-smile mr-2"></i></a> 
                          <a  routerLink="/signup" class="link-2" title="Poll"><img src="assets/images/Poll.png" style="width: 15px;margin-top: -4px;" class="mr-2"></a> 
                          <a  routerLink="/signup" class="link-2"><i class="far fa-calendar mr-2"></i></a>
                        </div>
                        <div class="ml-auto"><button type="button" class="btn-sm btn-info border-0" style="border-radius: 15px !important;background-color: #8B5805 !important;width: 95px;" >Post</button></div>
                  </div>
			  </div>
			</div>
		   </div>		   
		</div>
	</div>
  </div>