::placeholder {
    color: rgb(127, 129, 127);
    opacity: 0.7; /* Firefox */
    font-weight:500;
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: rgb(127, 129, 127);
    font-weight:500;
  }

  .card {
    box-shadow: 0 0 0px #00000020, 0 0px 0px #0003  !important;
    margin-bottom: 1rem;
}