<div class="m-3">
	<!-- Outer Row -->
	<div class="row">
		<div class="col-sm-6">
		 	<div>
				<a href="index.html">
					<img src="assets/images/myne-logo-f.png" style="height: 60px;" alt="logo">
				</a>
			 </div>
			 <div class="d-flex justify-content-center">
				 <div></div>
				<div style="width: 370px;">
				<h3>Get started now! </h3>
				<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
					<strong>{{error}}</strong> 
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<form  name='signinForm'>
					<div class="form-group position-relative clearfix" style="margin-bottom: 0.5rem !important;">
						<div class="row">
							<div class="col-sm-5">
							<label for="exampleInputFirst1" class="form-label">First name</label>
							<input type="text" class="form-control form-control-sm" id="exampleInputFirst1" name="firstname"  placeholder="First name" required>
							<div *ngIf="submitted && username==''" class="text-danger">
								Please enter your first name
							</div>
							</div>
							<div class="col-sm-2"></div>
							<div class="col-sm-5">
								<label for="exampleInputLast1" class="form-label">Last name</label>
								<input type="text" class="form-control form-control-sm" id="exampleInputLast1" name="lastname"  placeholder="Last name"  required>
								<div *ngIf="submitted && username==''" class="text-danger">
									Please enter your last name
								</div>
								</div>
						  </div>
					</div>
					<div class="form-group position-relative clearfix" style="margin-bottom: 0.5rem !important;">
						<div>
							<label for="exampleInputEmail1" class="form-label">Email</label>
							<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" name="email"  placeholder="Email" aria-describedby="emailHelp" required>
							<div *ngIf="submitted && username==''" class="text-danger">
								Please enter your email
						    </div>
						  </div>
					</div>
					<div class="form-group clearfix position-relative" style="margin-bottom: 0.5rem !important;">
						<div>
							<label for="exampleInputPassword1" class="form-label">Password</label>
							<input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" required>
							<div *ngIf="submitted && password==''" class="text-danger">
								Please enter the password
						    </div>
						  </div>
					</div>
					<div class="form-group clearfix position-relative" style="margin-bottom: 0.5rem !important;">
						<div>
							<label for="exampleInputZipcode1" class="form-label">Zipcode</label>
							<input type="text" class="form-control form-control-sm" id="exampleInputZipcode1" placeholder="Zipcode" required>
							<div *ngIf="submitted && password==''" class="text-danger">
								Please enter the zipcode
						    </div>
						  </div>
					</div>
                    <div class="clearfix m-1" style="text-align: center;font-size: 12px;">
						By signing up, you agree to our <a  routerLink="/signup" class="forgot-password ml-2"><span style="opacity: 0.5;">Terms of Service</span></a> and <a  routerLink="/signup" class="forgot-password ml-2"><span style="opacity: 0.5;">Privacy Policy</span></a>
					</div>
					<div style="margin-top: 0px;">
						<button type="submit" class="btn-sm btn-primary btn-lg btn-block border" style="background-color: #05838B;">Sign up</button>
					</div>
					<div class="form-group clearfix position-relative mt-1">
						<div class="row">
						   <div class="col-sm-5"><hr></div>
						   <div class="col-sm-2" style="padding-top: 5px;text-align: center;">OR</div>
						   <div class="col-sm-5"><hr></div>
						</div>
					</div>
					<div style="margin-top: -10px;">
						<button type="submit" class="btn-sm btn-light btn-lg btn-block border-0"><img src="assets/images/Google.png" style="height: 20px;" class="mr-2"><span style="font-size: 13px;"> Sign up with Google</span></button>
					</div>
					
					<div style="margin-top: 5px;">
						<button type="submit" class="btn-sm btn-light btn-block border-0"><img src="assets/images/Vector.png" style="height: 20px;" class="mr-2"><span style="font-size: 13px;"> Sign up with Apple</span></button>
					</div> 
					<div class="clearfix" style="margin-top: 10px;text-align: center;">
						Already have an account ?<a  routerLink="/signin" class="forgot-password ml-2"><span style="opacity: 0.5;">Log in</span></a>
					</div>
				</form>
				</div>
				<div></div>
			</div>
		</div>
		<div class="col-sm-6">
					<img src="assets/images/dwanghong-28942214.png" style="height: calc(100vh - 40px);width: 100%;" class="img-fluid" alt="Art">
		</div>
	</div>
</div>
<!--div class="m-2" style="padding-left: 70px;">
	<a href="index.html" class="logo">
		<img src="assets/images/myne-logo.svg" alt="logo">
	</a>
</div>
<div class="loginPage">
	<div class="container-fluid">
		<div class="row login-section" style="padding: 0px 20px;">
			<div class="col-lg-3"></div>
			<div class="col-lg-6 align-self-center pad-0 form-section shadow">
				<div class="form-inner">
					<h3>Sign up </h3>
					<h6>Enter your details to sign up</h6>
					<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
						<strong>{{error}}</strong> 
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<form  name='signupForm'>
						<div class="form-group position-relative clearfix">
							<div class="input-group flex-nowrap">
								<input type="text" class="form-control" name="email" id="email"  placeholder="Email ID"  required>		
							</div>
							<div *ngIf="submitted && username==''" class="text-danger">
									Please enter your email
							</div>
						</div>
						<div class="form-group clearfix position-relative">
							<div class="input-group flex-nowrap">
								<input type="password" name="password" class="form-control"  autocomplete="off" id="password" placeholder="Password" required>
							</div>
							<div *ngIf="submitted && password==''" class="text-danger">
									Please enter the password
							</div>
						</div>
						<div class="form-group clearfix position-relative">
							<div class="input-group flex-nowrap">
								<input type="text" name="zipcode" class="form-control"  autocomplete="off" id="zipcode" placeholder="Zip Code" required>
							</div>
						</div>
						<div class="clearfix" style="margin-top: -10px;font-size: 12px;">
							<a  routerLink="/forgot-password" class="forgot-password">By signing up, you agree to our <span style="opacity: 0.5;">Terms of Service</span> & <span style="opacity: 0.5;">Privacy Policy</span></a>
						</div>
						<div style="margin-top: 10px;">
							<button type="submit" class="btn btn-light btn-lg btn-block border">Sign up</button>
						</div>
						<div class="form-group clearfix position-relative mt-2">
							<div class="row">
							   <div class="col-sm-5"><hr></div>
							   <div class="col-sm-2" style="padding-top: 5px;">OR</div>
							   <div class="col-sm-5"><hr></div>
							</div>
						</div>
						<div class="form-group clearfix position-relative">
							<div class="row" style="margin-top: -10px;">
								<div class="col-sm-4" style="text-align-last: right;">
									<a href="index.html">
									    <img src="assets/images/g-icon.JPG" alt="logo" style="height: 40px;">
								    </a>
							    </div>
								<div class="col-sm-4">
									<a href="index.html">
										<img src="assets/images/f-icon.JPG" alt="logo" style="height: 40px;">
									</a>
								</div>
								<div class="col-sm-4" style="text-align:left ;">
									<a href="index.html">
										<img src="assets/images/ap-icon.JPG" alt="logo" style="height: 40px;">
									</a>
								</div>
							 </div>
						</div>
						<div class="clearfix" style="margin-top: -10px;">
							<a  routerLink="/signin" class="forgot-password">Already have an account ? <span style="opacity: 0.5;">Login</span></a>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</div-->
