<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
  <p style="color: white;">Loading ...</p>
</ngx-spinner>

<div id="header" style="top:0;height: 100px;position: fixed;z-index: 1;width: 100%;background-color: #fff;">
  <div class="d-flex">
     <div style="width: 225px;border-right: 1px solid rgb(203, 203, 203);height: 100px;">
      <div class="mt-1 ml-2 mr-2 mb-2" style="padding-left: 60px;">
        <a href="index.html" class="logo">
          <img src="assets/images/myne-logo-f.png" alt="logo">
        </a>
      </div>
    </div>
    <div style="border-right: 1px solid rgb(203, 203, 203);height: 100px;width: calc(100vw - 450px);">
      <div class="container-fluid form-group" style="padding: 40px 15px 5px 15px;">
        <div class="input-group">
        <span class="input-group-text" id="basic-addon1" style="height: 38px;border: 0px solid #fff;background: rgb(245, 243, 243) !important;border-top-left-radius: 5px;border-bottom-left-radius: 5px;"><img src="assets/images/myne-smll-logo-f.png" alt="logo" style="height: 25px;"></span>
        <input type="text" class="form-control" style="background-color: rgb(245, 243, 243);border: 0px solid #fff;border-top-right-radius: 5px;border-bottom-right-radius: 5px;" placeholder="Search for electronics" (keydown.enter)="searchPost($event)"/>
        </div>
      </div>
    </div>
    <div class="ml-auto" style="width: 220px;height: 100px;">
      <div class="d-flex" style="margin-top: 10px;">
        <div class="m-2"><div class="profile-top img-circle elevation-2">{{userInfo?.userFirstName?.charAt(0).toUpperCase()}}</div></div>
        <div>
           <div style="font-weight: 500;" class="ml-2 mt-3">{{userInfo?.userFirstName}} {{userInfo?.userLastName}}</div>
           <div class="fw-lighter ml-2">{{userInfo?.zipCode}}</div>
        </div>
        <div>
          <a class="dropdown-toggle no-arrow" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fas fa-ellipsis-h ml-2 mt-5"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="javascript:void(0)">Settings</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="/signin">Logout</a>
          </div>
        </div>
     </div>
      
    </div>
  </div>
</div>
<div  
        infiniteScroll 
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="150"
        (scrolled)="loadMoreProducts()"
      > 
<div style="top:100px;">
  
  <div class="d-flex">
     <div style="z-index: 1;position: fixed;width: 225px;border-right: 1px solid rgb(203, 203, 203);height: calc(100vh - 100px);top:100px;">
      <div class="ml-4 mr-4 mt-2 mb-2">
        <nav class="nav flex-column">
          <a class="nav-link left-menu active" routerLink="/home"><i class="fas fa-home mr-2"></i>Home</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-lemon mr-2"></i>Discover</a>
          <a class="nav-link left-menu" routerLink="/listing" (click)="isSaleSelect(true);"><i class="fas fa-tag mr-2"></i>For Sale</a>
          <a class="nav-link left-menu" routerLink="/listing"  (click)="isSaleSelect(false);"><i class="fas fa-yin-yang mr-2"></i>For Free</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-bell mr-1"></i> Notifications</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-comment mr-1"></i> Chats</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="fas fa-users mr-1"></i> Groups</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="fas fa-user-friends mr-2"></i>Neighbors</a>
          </nav>
      </div>
      <div class="m-4" style="padding-top: 6px;padding-left: 15px;">
        <button type="button" class="btn btn-info border-0" style="border-radius: 5px !important;background-color: #8B5805 !important;width: 145px;" data-bs-toggle="modal" data-bs-target="#newPost">Post</button>
        <div class="mt-4">
        <button type="button" class="btn btn-outline-warning" style="border-radius: 5px !important;width: 145px;"  data-bs-toggle="modal" data-bs-target="#newAds" (click)="resetAdPopup()">Post Ad</button>
        </div>
      </div>
    </div>
    <div style="border-right: 1px solid rgb(203, 203, 203);width: calc(100vw - 450px);margin-top: 100px;margin-left:225px;min-height: calc(100vh - 100px);">
      <div class="row">
        <div class="col-sm-12"> 
            <div>
                <ul class="nav">
                    <li class="nav-item">
                      <a [ngClass]="menuSeleced=='forYou'?'nav-link top-menu active': 'nav-link top-menu' " href="javascript:void(0)" (click)="activeMenu('forYou');" >For you</a>
                    </li>
                    <li class="nav-item">
                      <a [ngClass]="menuSeleced=='recent'?'nav-link top-menu active': 'nav-link top-menu' " href="javascript:void(0)" (click)="activeMenu('recent');" >Recent</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link top-menu" href="javascript:void(0)" >Near by</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link top-menu" href="javascript:void(0)">Trending</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link top-menu" href="javascript:void(0)">Safety updates</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link top-menu" href="javascript:void(0)">Local businesses</a>
                      </li>
                  </ul>
            </div>
            <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
            <div class="row" style="margin:20px 10px 5px 20px;">
              <div class="col-sm-1"><div class="img-circle elevation-2 profile-2">{{userInfo?.userFirstName?.charAt(0).toUpperCase()}}</div></div>
              <div class="col-sm-11">
                  <div style="border-radius: 5px;border: 1px solid rgb(203, 203, 203);">
                    <textarea class="form-control" placeholder="What's on your mind?" style="border:0px solid;" [(ngModel)]="postRequestModel.description" ></textarea>
                    <div id="imgSec" class="image-preview mb-3" *ngIf="previewUrl" [innerHtml]="data"></div>
                    <div id="emoSec"></div>
                  </div>
                  <div class="m-1 d-flex">
                    <div>
                      <select class="form-control form-control-sm border-0" [(ngModel)]="postRequestModel.privacy">
                        <option value="Anywhere" >Anywhere</option>
                        <option value="Only Friends">Only Friends</option>
                        <option value="Groups">Groups</option>
                      </select>
                    </div>
                    <div></div>
                  </div>
                  <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
                  <div class="d-flex mt-1">
                        <div>
                          <label>
                            <i class="far fa-image link3 mr-2"  title="Upload Photo"></i>
                            <input type="file" id="file" style="display: none" name="image" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="true" data-original-title="upload photos" (change)="onFileChanged($event,1)">
                          </label>
                          <a  href="javascript:void(0)" class="link-2" title="Upload GIF Poto"><img src="assets/images/GIF.png" style="width: 19px;margin-top: -4px;" class="mr-2"></a> 
                          <a  href="javascript:void(0)" class="link-2" title="Happyness"><i class="far fa-smile mr-2"></i></a> 
                          <a  href="javascript:void(0)" class="link-2" title="Poll"><img src="assets/images/Poll.png" style="width: 15px;margin-top: -4px;" class="mr-2"></a> 
                          <a  href="javascript:void(0)" class="link-2"><i class="far fa-calendar mr-2"></i></a>
                        </div>
                        <div class="ml-auto"><button type="button" class="btn-sm btn-info border-0" style="border-radius: 15px !important;background-color: #8B5805 !important;width: 95px;" (click)="createPost(1)" >Post</button></div>
                  </div>
              </div>
            </div>  
          </div>
        </div>
      </div>  
  
  
      <div class="row" *ngFor="let postSearchResultDt of postSearchResult">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                  <div class="col-sm-1"><div class="img-circle elevation-2 profile-list-1">{{postSearchResultDt.creatorName?.charAt(0).toUpperCase()}}</div></div>
                  <div class="col-sm-11">
                    <div class="d-flex">
                       <div><div style="font-size: 17px;font-weight: 600;"><span>{{postSearchResultDt.creatorName}}.</span> <span style="color: rgb(164,166,173);padding-left: 10px;"  *ngIf=" postSearchResultDt.postId">{{postSearchResultDt.createdAt | date :'MMM d' }}</span></div></div>
                       <div class="ml-auto">
                         <div  *ngIf=" postSearchResultDt.postId">
                                         <a class="dropdown-toggle no-arrow" style="margin-right: -10px;" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                          <i class="fas fa-ellipsis-v text-gray-400"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                              aria-labelledby="dropdownMenuLink">
                                              <a class="dropdown-item" href="javascript:void(0)" >Delete</a>
                                              <a class="dropdown-item" href="javascript:void(0)" >Edit</a>
                                          </div>
                         </div>                 
                      </div>
                    </div>
                    
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;" *ngIf=" postSearchResultDt.postId">HSR Layout, Bangalore,{{postSearchResultDt.zipCode}}</div>
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;" *ngIf="!postSearchResultDt.postId">Sponsored</div>
                    <div style="font-size: 13px;font-weight: 400;padding: 5px 0px">
                      <div>{{postSearchResultDt.description}}</div>
                      <!--start single photo -->
                      <div class="d-flex" style="padding-top: 10px;" *ngIf= "postSearchResultDt.mediaDetails.length==1">
                         <div><img [src]="postSearchResultDt.mediaDetails[0].url" class="img-fluid" alt="logo" *ngIf="postSearchResultDt.mediaDetails[0].contentType.includes('image')"></div>
                         <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[0].contentType.includes('video')">                           
                          <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[0].url | safe" [type]="postSearchResultDt.mediaDetails[0].contentType"> </video> 
                         </div>
                      </div>
                      <!--end photo -->
                     <!--start 2 photo list-->
                       <div class="d-flex" style="padding-top: 10px;" *ngIf= "postSearchResultDt.mediaDetails.length==2">
                        <div >
                          <div><img [src]="postSearchResultDt.mediaDetails[0].url" class="img-fluid"  style="border-top-left-radius: 5px;border-bottom-left-radius: 5px;" alt="logo" *ngIf="postSearchResultDt.mediaDetails[0].contentType.includes('image')"></div>
                          <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[0].contentType.includes('video')">                           
                           <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[0].url | safe" [type]="postSearchResultDt.mediaDetails[0].contentType"> </video> 
                          </div>
                        </div>
                        <div class="ml-1">
                          <div><img [src]="postSearchResultDt.mediaDetails[1].url" class="img-fluid"  style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;" alt="logo" *ngIf="postSearchResultDt.mediaDetails[1].contentType.includes('image')"></div>
                          <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[1].contentType.includes('video')">                           
                           <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[1].url | safe" [type]="postSearchResultDt.mediaDetails[1].contentType"> </video> 
                          </div>
                        </div>
                       </div>
                       <!--end 2 photo list-->

                       <!--start 3 photo list-->
                     <div class="d-flex" style="padding-top: 10px;" *ngIf= "postSearchResultDt.mediaDetails.length==3">
                      <div>
                        <div><img [src]="postSearchResultDt.mediaDetails[0].url" class="img-fluid" alt="logo" *ngIf="postSearchResultDt.mediaDetails[0].contentType.includes('image')"></div>
                        <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[0].contentType.includes('video')">                           
                         <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[0].url | safe" [type]="postSearchResultDt.mediaDetails[0].contentType"> </video> 
                        </div>
                      </div>
                      <div class="ml-1">
                        <div>
                          <div><img [src]="postSearchResultDt.mediaDetails[1].url" class="img-fluid" alt="logo" *ngIf="postSearchResultDt.mediaDetails[1].contentType.includes('image')"></div>
                          <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[1].contentType.includes('video')">                           
                           <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[1].url | safe" [type]="postSearchResultDt.mediaDetails[1].contentType"> </video> 
                          </div>
                        </div>
                        <div class="mt-1">
                          <div><img [src]="postSearchResultDt.mediaDetails[2].url" class="img-fluid" alt="logo" *ngIf="postSearchResultDt.mediaDetails[2].contentType.includes('image')"></div>
                          <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[2].contentType.includes('video')">                           
                           <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[2].url | safe" [type]="postSearchResultDt.mediaDetails[2].contentType"> </video> 
                          </div>
                        </div>
                      </div>
                     </div>
                     <!--end 3 photo list-->

                      <!--start two row 4 photo list-->
                      <div *ngIf= "postSearchResultDt.mediaDetails.length>=4">
                      <div class="d-flex" style="padding-top: 10px;">
                        <div>
                          <div><img [src]="postSearchResultDt.mediaDetails[0].url" class="img-fluid" alt="logo" *ngIf="postSearchResultDt.mediaDetails[0].contentType.includes('image')"></div>
                          <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[0].contentType.includes('video')">                           
                           <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[0].url | safe" [type]="postSearchResultDt.mediaDetails[0].contentType"> </video> 
                          </div>
                        </div>
                        <div class="ml-1">
                          <div>
                            <div><img [src]="postSearchResultDt.mediaDetails[1].url" class="img-fluid" alt="logo" *ngIf="postSearchResultDt.mediaDetails[1].contentType.includes('image')"></div>
                            <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[1].contentType.includes('video')">                           
                             <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[1].url | safe" [type]="postSearchResultDt.mediaDetails[1].contentType"> </video> 
                            </div>
                          </div>
                        </div>
                       </div>
                       <div class="d-flex mt-1">
                        <div>
                          <div><img [src]="postSearchResultDt.mediaDetails[2].url" class="img-fluid" alt="logo" *ngIf="postSearchResultDt.mediaDetails[2].contentType.includes('image')"></div>
                          <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[2].contentType.includes('video')">                           
                           <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[2].url | safe" [type]="postSearchResultDt.mediaDetails[2].contentType"> </video> 
                          </div>
                        </div>
                        <div class="ml-1">
                          <div>
                            <div><img [src]="postSearchResultDt.mediaDetails[3].url" class="img-fluid" alt="logo" *ngIf="postSearchResultDt.mediaDetails[3].contentType.includes('image')"></div>
                          <div class="video-wrapper"  *ngIf="postSearchResultDt.mediaDetails[3].contentType.includes('video')">                           
                           <video id="myVideo1" controls="true" loop="true" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="postSearchResultDt.mediaDetails[3].url | safe" [type]="postSearchResultDt.mediaDetails[3].contentType"> </video> 
                          </div>
                          </div>
                        </div>
                       </div>
                       </div>
                      <!--end two row 4 photo list-->
                    </div>
                    <div class="d-flex" *ngIf=" postSearchResultDt.postId">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">{{postSearchResultDt.likeCount}}</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">{{postSearchResultDt.commentsCount}}</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div> 
   




      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                  <div class="col-sm-1"><div class="img-circle elevation-2 profile-list-1">M</div></div>
                  <div class="col-sm-11">
                    <div class="d-flex">
                       <div><div style="font-size: 17px;font-weight: 600;"><span>Monisha.</span> <span style="color: rgb(164,166,173);padding-left: 10px;">Oct 9</span></div></div>
                       <div class="ml-auto">
                                         <a class="dropdown-toggle no-arrow" style="margin-right: -10px;" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                          <i class="fas fa-ellipsis-v text-gray-400"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                              aria-labelledby="dropdownMenuLink">
                                              <a class="dropdown-item" href="javascript:void(0)" >Delete</a>
                                              <a class="dropdown-item" href="javascript:void(0)" >Edit</a>
                                          </div>
                      </div>
                    </div>
                    
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;">HSR Layout, Bangalore</div>
                    <div style="font-size: 13px;font-weight: 400;padding: 5px 0px">
                      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                     <!--start 2 photo list-->
                       <div class="d-flex" style="padding-top: 10px;">
                        <div ><img src="assets/images/listing2.JPG" style="border-top-left-radius: 5px;border-bottom-left-radius: 5px;" class="img-fluid" alt="logo"></div>
                        <div class="ml-1"><img src="assets/images/listing3.JPG" style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;" class="img-fluid" alt="logo"></div>
                       </div>
                       <!--end 2 photo list-->
                    </div>
                    <div class="d-flex">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">5</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">4</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                <div class="col-sm-1"><div class="img-circle elevation-2 profile-list-2">K</div></div>
                  <div class="col-sm-11">
                    <div class="d-flex">
                      <div style="font-size: 17px;font-weight: 600;"><span>Kavya.</span> <span style="color: rgb(164,166,173);padding-left: 10px;">Oct 5</span></div>
                      <div class="ml-auto">
                        <a class="dropdown-toggle no-arrow" style="margin-right: -10px;" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-ellipsis-v text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="javascript:void(0)" >Delete</a>
                            <a class="dropdown-item" href="javascript:void(0)" >Edit</a>
                        </div>
                      </div>
                   </div>
                   
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;">HSR Layout, Bangalore</div>
                    <div style="font-size: 13px;font-weight: 400;padding: 5px 0px;">

                     <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                     <!--start single photo -->
                     <div class="d-flex" style="padding-top: 10px;">
                      <div><img src="assets/images/coast-6310250_1280.png" class="img-fluid" alt="logo"></div>
                     </div>
                     <!--end photo -->
                    </div>
                    <div class="d-flex">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">5</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">4</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                <div class="col-sm-1"><div class="img-circle elevation-2 profile-list-1">M</div></div>
                  <div class="col-sm-11">
                    <div style="font-size: 17px;font-weight: 600;"><span>Monisha.</span> <span style="color: rgb(164,166,173);padding-left: 10px;">Oct 9</span></div>
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;">HSR Layout, Bangalore</div>
                    <div style="font-size: 13px;font-weight: 400;padding: 5px 0px">
                      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                    </div>
                    <div class="d-flex">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">5</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">4</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                <div class="col-sm-1"><div class="img-circle elevation-2 profile-list-1">M</div></div>
                  <div class="col-sm-11">
                    <div style="font-size: 17px;font-weight: 600;"><span>Monisha.</span> <span style="color: rgb(164,166,173);padding-left: 10px;">Oct 9</span></div>
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;">HSR Layout, Bangalore</div>
                    <div style="font-size: 13px;font-weight: 400;padding: 5px 0px">
                      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                      <!--start 3 photo list-->
                      <div class="d-flex" style="padding-top: 10px;">
                        <div><img src="assets/images/car-8647805_1280.png" class="img-fluid" alt="logo"></div>
                        <div class="ml-1">
                          <div><img src="assets/images/dashboard-3510327_1280.png" class="img-fluid" alt="logo"></div>
                          <div class="mt-1"><img src="assets/images/speedometer-1249610_1280.png" class="img-fluid" alt="logo"></div>
                        </div>
                       </div>
                       <!--end 3 photo list-->
                    </div>
                    <div class="d-flex">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">5</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">4</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                <div class="col-sm-1"><div class="img-circle elevation-2 profile-list-2">K</div></div>
                  <div class="col-sm-11">
                    <div style="font-size: 17px;font-weight: 600;"><span>Kavya.</span> <span style="color: rgb(164,166,173);padding-left: 10px;">Oct 5</span></div>
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;">HSR Layout, Bangalore</div>
                    <div style="font-size: 13px;font-weight: 400;padding: 5px 0px;">
                     <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                     <div style="padding-top: 10px;">
                       <!--start two row 4 photo list-->
                       <div class="d-flex" style="padding-top: 10px;">
                        <div><img src="assets/images/pexels-haru-mio-298755868-14444882.png" class="img-fluid" alt="logo"></div>
                        <div class="ml-1">
                          <div><img src="assets/images/pexels-katebranch-8634412.png" class="img-fluid" alt="logo"></div>
                        </div>
                       </div>
                       <div class="d-flex mt-1">
                        <div><img src="assets/images/Frame_3234257.png" class="img-fluid" alt="logo"></div>
                        <div class="ml-1">
                          <div><img src="assets/images/Frame_32342572.png" class="img-fluid" alt="logo"></div>
                        </div>
                       </div>
                      <!--end two row 4 photo list-->
                     </div>
                    </div>
                    <div class="d-flex">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">5</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">4</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                <div class="col-sm-1"><div class="img-circle elevation-2 profile-list-2">K</div></div>
                  <div class="col-sm-11">
                    <div style="font-size: 17px;font-weight: 600;"><span>Kavya.</span> <span style="color: rgb(164,166,173);padding-left: 10px;">Oct 5</span></div>
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;">HSR Layout, Bangalore</div>
                    <div style="font-size: 13px;font-weight: 400;padding: 5px 0px;">
                     <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                     <div style="padding-top: 10px;">
                      <!--start two row more than 4 photo list-->
                       <div class="d-flex" style="padding-top: 10px;">
                        <div><img src="assets/images/pexels-haru-mio-298755868-14444882.png" class="img-fluid" alt="logo"></div>
                        <div class="ml-1">
                          <div><img src="assets/images/pexels-katebranch-8634412.png" class="img-fluid" alt="logo"></div>
                        </div>
                       </div>
                       <div class="d-flex mt-1">
                        <div><img src="assets/images/Frame_3234257.png" class="img-fluid" alt="logo"></div>
                        <div class="ml-1">
                          <div><img src="assets/images/Frame_32342572.png" class="img-fluid" alt="logo"></div>
                        </div>
                       </div>
                       <!--end two row more than 4 photo list-->
                     </div>
                    </div>
                    <div class="d-flex">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">5</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">4</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <p class="text-center my-3" *ngIf="loading$ | async">Loading...</p>
    </div>
    <div class="ml-auto" style="width: 220px;height: 100px;">
        <div class="m-2">
          <div  style="margin-top: 120px;"><img src="assets/images/right-top.PNG" class="img-fluid"/></div>
        </div>
        <div class="m-2">
          <div><a routerLink="/home"><img src="assets/images/right-top-2.PNG" class="img-fluid"/></a></div>
        </div>
    </div>
  </div>

</div>
</div>

<!--modal for create-->
<div class="modal fade" id="newPost" data-bs-backdrop="static" data-bs-keyboard="false"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" required autocomplete="off">
	<div class="modal-dialog" role="document">
	  <div class="modal-content" >
		  <div>
		  <button type="button" class="close mr-2" data-bs-dismiss="modal" aria-label="Close" #closeButtonNewSave>
			<span aria-hidden="true">&times;</span>
		  </button>
		   </div>
		   <div class="modal-body" style="margin-top: -5px;">
			<div class="row mb-3">
			  <div class="col-sm-1"><div class="profile-3 img-circle elevation-2">{{userInfo?.userFirstName?.charAt(0).toUpperCase()}}</div></div>			 
			  <div class="col-sm-11">
          <div style="border-radius: 5px;border: 1px solid rgb(203, 203, 203);">
            <textarea class="form-control" placeholder="What's on your mind?" [(ngModel)]="postRequestModel.description" style="border:0px solid;"></textarea>
            <div id="imgSec2" class="image-preview mb-3" *ngIf="previewUrl2" [innerHtml]="data2"></div>
            <div id="emoSec2"></div>
          </div>
        <div class="m-1 d-flex">
          <div>
            <select class="form-control form-control-sm border-0" [(ngModel)]="postRequestModel.privacy">
              <option value="Anywhere" >Anywhere</option>
              <option value="Only Friends">Only Friends</option>
              <option value="Groups">Groups</option>
            </select>
          </div>
          <div></div>
        </div>
                 <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
                  <div class="d-flex mt-1">
                        <div>
                          <label>
                            <i class="far fa-image mr-2 link3"  title="Upload Photo"></i>
                            <input type="file" id="file" style="display: none" name="image" accept="image/*" multiple="true" data-original-title="upload photos" (change)="onFileChanged($event,2)">
                          </label>
                          <a  href="javascript:void(0)" class="link-2" title="Upload GIF Poto"><img src="assets/images/GIF.png" style="width: 19px;margin-top: -4px;" class="mr-2"></a> 
                          <a  href="javascript:void(0)" class="link-2" title="Happyness"><i class="far fa-smile mr-2"></i></a> 
                          <a  href="javascript:void(0)" class="link-2" title="Poll"><img src="assets/images/Poll.png" style="width: 15px;margin-top: -4px;" class="mr-2"></a> 
                          <a  href="javascript:void(0)" class="link-2"><i class="far fa-calendar mr-2"></i></a>
                        </div>
                        <div class="ml-auto"><button type="button" class="btn-sm btn-info border-0" style="border-radius: 15px !important;background-color: #8B5805 !important;width: 95px;" (click)="createPost(2)">Post</button></div>
                  </div>
			  </div>
			</div>
		   </div>		   
		</div>
	</div>
  </div>

  <!--modal for create-->
<div class="modal fade" id="newAds" data-bs-backdrop="static" data-bs-keyboard="false"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" required autocomplete="off">
	<div class="modal-dialog modal-lg" role="document">
	  <div class="modal-content" >
      <div class="d-flex">
           <div class="ml-2 mt-2" style="font-weight: 500;font-size: 22px;">
            List Your Ads
           </div>
           <div class="ml-auto mt-3 mr-3">
            <button type="button" class="close ml-2" data-bs-dismiss="modal" aria-label="Close" #closeButtonNewAds>
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
      </div>		  
      <div class="modal-body" style="margin-top: -5px;">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group mb-1">
                  <label for="exampleInputBusiness" class="form-label">Business name</label>
							    <input type="text" class="form-control form-control-sm" id="exampleInputBusiness" [(ngModel)]="business" name="businessname" placeholder="Business name" required>
							    <div class="text-danger" *ngIf="submittedAd && business==''">
								   Please enter the business name
                  </div>
              </div>
              <div class="form-group mb-1">
                <label>
                  <button class="btn btn-sm btn-outline-light">Upload Logo <i class="fas fa-upload"></i></button>
                  <input type="file" id="file" style="display: none" name="image" accept="image/*" multiple="false" data-original-title="upload logo" (change)="onFileChangedLogo($event)">
                </label>
              </div>
              <div class="form-group mb-1">
                <label for="exampleInputAdsTitle" class="form-label">Ad Title</label>
                <input type="text" class="form-control form-control-sm" id="exampleInputAdsTitle"  [(ngModel)]="adsTitle" name="adsTitle" placeholder="Ad Title" required>
                <div class="text-danger" *ngIf="submittedAd && adsTitle==''">
                 Please enter the ad title
                </div>
              </div>

              <div class="form-group mb-1">
                <label for="inputAdDescription" class="form-label">Ad Description</label>
                <input type="text" class="form-control form-control-sm" id="inputAdDescription" [(ngModel)]="adDescription" name="adDescription" placeholder="AdDescription" required>
                <div class="text-danger" *ngIf="submittedAd && adDescription==''">
                  Please enter the Ad description
                </div>
              </div>
   
              <div class="form-group mb-1">
                <label for="inputAdCategory" class="form-label">Select Category</label>
                <select class="form-select form-select-sm h4" id="inputAdCategory" name="category" [(ngModel)]="category" aria-label=".form-select-sm example" placeholder="All Category" >
                  <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </select>
              </div>

            </div>
            <div class="col-sm-6">
              <div *ngIf="previewUrlImg1">
                <img [src]="previewUrlImg1" alt="Card image cap" style="width: 300px;height: 200px;" />
              </div>
              <div class="d-flex" style="max-height: 100px;max-width: 320px;overflow-x: auto;">
                  <div>
                    <span *ngFor="let pre of previewUrlImgAds">
                      <img class="mr-1" src="{{pre}}" width="80px" height="80px" />&nbsp;
                    </span>               
                  </div>
                  <div>
                    <label>
                      <img src="assets/images/Add_img.png" alt="Card image cap" style="width:80px">
                      <input type="file" id="file" style="display: none" name="image" accept="image/*" multiple="true" data-original-title="upload photos" (change)="onFileChangedImg($event)">
                    </label>
                  </div>
              </div>
            </div>
          </div>
              
        </div>
        
        <div class="form-group mb-1">
          <div class="row">
              <div class="col-sm-6">
                <label for="inputwebsiteLink" class="form-label">Website Link</label>
                <input type="text" class="form-control form-control-sm" id="inputwebsiteLink" [(ngModel)]="websiteLink"  name="websiteLink" placeholder="Website Link" >
              </div>
              <div class="col-sm-6" style="padding-top: 32px;text-align: right;">
                <button type="button" class="btn-sm btn-info border-0" style="border-radius: 5px !important;background-color: #8B5805 !important;width: 95px;" (click)="newAd()">Post Ads</button>
              </div>
          </div>
          
        </div>
		  </div>		   
		</div>
	</div>
  </div>
