<div class="d-flex">
<div>    
<app-left-panel></app-left-panel>
</div>
<div class="middle-section">
    <section>
      <div class="row">
        <div class="col-sm-12"> 
            <div class="container-fluid form-group" style="padding: 40px 15px 5px 15px;">
                <input type="text" class="form-control" style="background-color: rgb(245, 243, 243);border: 0px solid #fff;" placeholder="Search for electronics"/>
            </div>
            <div>
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link top-menu" href="#">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link top-menu active" href="#">Posts</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link top-menu" href="#">Businesses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link top-menu" href="#">For Sale</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link top-menu" href="#">For Free</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link top-menu" href="#">Events</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link top-menu" href="#">Neighbors</a>
                      </li>
                  </ul>
            </div>
            <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                  <div class="col-sm-1"><img src="assets/images/NotAvailable.jpg" style="width: 55px;" class="img-circle elevation-2"></div>
                  <div class="col-sm-11">
                    <div style="font-size: 17px;font-weight: 600;"><span>Monisha.</span> <span style="color: rgb(164,166,173);padding-left: 10px;">Oct 9</span></div>
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;">HSR Layout, Bangalore</div>
                    <div class="d-flex" style="font-size: 13px;font-weight: 400;padding: 5px 0px"><div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div></div>
                    <div class="d-flex">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">5</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">4</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-12">
          <div style="border-bottom: 1px solid rgb(203, 203, 203)">
              <div class="row" style="margin:20px 20px 5px 20px;">
                  <div class="col-sm-1"><img src="assets/images/NotAvailable.jpg" style="width: 55px;" class="img-circle elevation-2"></div>
                  <div class="col-sm-11">
                    <div style="font-size: 17px;font-weight: 600;"><span>Kavya.</span> <span style="color: rgb(164,166,173);padding-left: 10px;">Oct 5</span></div>
                    <div style="font-size: 15px;font-weight: 500;color: rgb(164,166,173);padding-top: 0px;">HSR Layout, Bangalore</div>
                    <div class="d-flex" style="font-size: 13px;font-weight: 400;padding: 5px 0px;">
                     <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                     <div class="ml-auto" style="width: 120px;padding-left: 10px;">
                      <img src="assets/images/myne-logo.svg" alt="logo">
                     </div>
                    </div>
                    <div class="d-flex">
                      <div><i class="far fa-heart" title="Like"></i><span style="font-size: 11px;margin-left: 2px;">5</span> <i class="far fa-comment ml-3" title="Comment"></i><span style="font-size: 11px;margin-left: 2px;">4</span></div>
                      <div class="ml-auto"><i class="far fa-bookmark"></i> <i class="fas fa-share-alt ml-3" title="Share"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
<div class="ml-auto">    
    <app-right-panel></app-right-panel>
</div>
</div>    