<div class="d-flex">
<div>    
<app-listing-left-panel></app-listing-left-panel>
</div>
<div class="listing-section">
    <section>
      <div class="row">
        <div class="col-sm-12"> 
            <div class="container-fluid form-group" style="padding: 40px 15px 5px 15px;">
                <input type="text" class="form-control" style="background-color: rgb(245, 243, 243);border: 0px solid #fff;" placeholder="Search for electronics"/>
            </div>
            <div class="header-text">
                For Free
            </div>
            <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
        </div>
      </div>
      <div class="row"  style="padding:10px 22px;">
        <div class="col-sm-12">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="assets/images/listing1.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <h5 class="card-title" style="font-weight: 500;">Wooden Chair</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/images/listing2.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <h5 class="card-title" style="font-weight: 500;">Wooden Chair</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/images/listing3.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <h5 class="card-title" style="font-weight: 500;">Wooden Chair</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="row"  style="padding:10px 22px;">
        <div class="col-sm-12">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="assets/images/listing3.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <h5 class="card-title" style="font-weight: 500;">Wooden Chair</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/images/listing1.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <h5 class="card-title" style="font-weight: 500;">Wooden Chair</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/images/listing2.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <h5 class="card-title" style="font-weight: 500;">Wooden Chair</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </section>
</div>
</div>    