<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
  <p style="color: white;">Loading ...</p>
</ngx-spinner>
<div id="header" style="top:0;height: 100px;position: fixed;z-index: 1;width: 100%;background-color: #fff;">
  <div class="d-flex">
     <div style="width: 225px;border-right: 1px solid rgb(203, 203, 203);height: 100px;">
      <div class="mt-1 ml-2 mr-2 mb-2" style="padding-left: 60px;">
        <a href="index.html" class="logo">
          <img src="assets/images/myne-logo-f.png" alt="logo">
        </a>
      </div>
    </div>
    <div style="height: 100px;width: calc(100vw - 450px);">
      <div class="container-fluid form-group" style="padding: 40px 15px 5px 15px;">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1" style="height: 38px;border: 0px solid #fff;background: rgb(245, 243, 243) !important;"><img src="assets/images/myne-smll-logo-f.png" alt="logo" style="height: 25px;"></span>
          <input type="text" class="form-control" style="background-color: rgb(245, 243, 243);border: 0px solid #fff;" placeholder="Search for electronics"  (keydown.enter)="searchPost($event)"/>
          </div>
      </div>
    </div>
    <div class="ml-auto" style="width: 220px;height: 100px;">
      <div class="d-flex" style="margin-top: 10px;">
        <div class="m-2"><div class="profile-top img-circle elevation-2">{{userInfo?.userFirstName?.charAt(0).toUpperCase()}}</div></div>
        <div>
           <div style="font-weight: 500;" class="ml-2 mt-3">{{userInfo?.userFirstName}} {{userInfo?.userLastName}}</div>
           <div class="fw-lighter ml-2">{{userInfo?.zipCode}}</div>
        </div>
        <div>
          <a class="dropdown-toggle no-arrow" style="margin-right: -10px;" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                          <i class="fas fa-ellipsis-h ml-2 mt-5 text-gray-400"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                              aria-labelledby="dropdownMenuLink">
                                              <a class="dropdown-item" href="javascript:void(0)">Settings</a>
                                              <a class="dropdown-item" href="javascript:void(0)" routerLink="/signin">Logout</a>
                                          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="top:100px;">
  <div class="d-flex">
     <div style="z-index: 1;position: fixed;width: 225px;border-right: 1px solid rgb(203, 203, 203);height: calc(100vh - 100px);top:100px;">
      <div class="ml-4 mr-4 mt-2 mb-2">
        <nav class="nav flex-column">
          <a class="nav-link left-menu" routerLink="/home"><i class="fas fa-home mr-2"></i>Home</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-lemon mr-2"></i>Discover</a>
          <a [ngClass]="isSaleSelect ? 'nav-link left-menu active':'nav-link left-menu'" routerLink="/listing" (click)="isSalSelect(true);"><i class="fas fa-tag mr-2"></i>For Sale</a>
          <a [ngClass]="!isSaleSelect ? 'nav-link left-menu active':'nav-link left-menu'" routerLink="/listing" (click)="isSalSelect(false);"><i class="fas fa-yin-yang mr-2"></i>For Free</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-bell mr-1"></i> Notifications</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="far fa-comment mr-1"></i> Chats</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="fas fa-users mr-1"></i> Groups</a>
          <a class="nav-link left-menu" routerLink="/under-construction"><i class="fas fa-user-friends mr-2"></i>Neighbors</a>
          </nav>
      </div>
      <div class="m-4" style="padding-top: 6px;padding-left: 15px;">
        <button type="button" class="btn btn-info border-0" style="border-radius: 5px !important;background-color: #8B5805 !important;width: 145px;" data-bs-toggle="modal" data-bs-target="#newPost">Post</button>
        <div class="mt-4">
        <button type="button" class="btn btn-outline-warning" style="border-radius: 5px !important;width: 145px;" data-bs-toggle="modal" data-bs-target="#newAds" (click)="resetAdPopup()">Post Ad</button>
        </div>
      </div>
    </div>
    <div style="border-right: 1px solid rgb(203, 203, 203);width: calc(100vw - 230px);margin-top: 100px;margin-left:225px;min-height: calc(100vh - 100px);">
      <div >
        <div> 
          <div>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link top-menu active" routerLink="/listing" (click)="isSalSelect(true);">All Listings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link top-menu" routerLink="/listing" (click)="isSalSelect(true);">Your listings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link top-menu" routerLink="/listing" (click)="isSalSelect(true);" >Saved listings</a>
              </li>
            </ul>
          </div>
            <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
        </div>
      </div>
     <div  style="padding:10px 22px 0px 5px;">
      <div class="m-1 d-flex">
        <div>
          <select class="form-control form-control-sm border-0">
            <option>Sorted by</option>
          </select>
        </div>
        <div>
          <select class="form-control form-control-sm border-0">
            <option>Distance</option>
          </select>
        </div>
        <div>
          <select class="form-control form-control-sm border-0">
            <option>Categories</option>
          </select>
        </div>
        <div *ngIf="isSaleSelect" style="margin-top: 5px;">
          <div class="form-check form-switch">
            <span style="margin-left: 25px;">Discounted</span>
            <input class="form-check-input" type="checkbox" style="margin-left: 0px;margin-top: 5px;" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </div>
        </div>
        <div></div>
        <div class="ml-auto"><button type="button" class="btn-sm btn-info border-0" style="border-radius: 15px !important;background-color: #8B5805 !important;width: 95px;" data-bs-toggle="modal" data-bs-target="#newList">List an Item</button></div>
      </div>
     </div>

     <!-- start row list-->
      <div  style="padding:10px 22px;" *ngFor="let listingResult of listingResultPrint">
        <div>
          <div class="card-deck">
            <div class="card" style="cursor: pointer;" *ngFor="let listingRes of listingResult;">
             <div *ngIf="listingRes.listingId">
              <a routerLink="/listing-det/{{listingRes.listingId}}" style="color: #000;">
                <div *ngIf= "listingRes.mediaPaths.length>0" >
                    <img [src]="listingRes.mediaPaths[0].url" class="rounded card-img-top" alt="Card image cap" *ngIf="listingRes.mediaPaths[0].contentType.includes('image')">
                    <div class="video-wrapper"  *ngIf="listingRes.mediaPaths[0].contentType.includes('video')">                           
                          <video id="myVideo1" controls="true" loop="true" width="250" height="180" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="listingRes.mediaPaths[0].url | safe" [type]="listingRes.mediaPaths[0].contentType"> </video> 
                    </div>
                </div>
              <div class="card-body" style="padding:0px;">
                <div style="font-weight: 500;" *ngIf="isSaleSelect">{{listingRes.price}}$</div>
                <div style="font-weight: 500;">{{listingRes.title}}</div>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              </a>
            </div>

            <div *ngIf="!listingRes.listingId">
                <div *ngIf= "listingRes.mediaPaths.length>0" >
                    <img [src]="listingRes.mediaPaths[0].url" class="rounded card-img-top" alt="Card image cap" *ngIf="listingRes.mediaPaths[0].contentType.includes('image')">
                    <div class="video-wrapper"  *ngIf="listingRes.mediaPaths[0].contentType.includes('video')">                           
                          <video id="myVideo1" controls="true" loop="true" width="250" height="180" style="background-color: black;border: 1px solid gray;"> <source id="video_src1" [src]="listingRes.mediaPaths[0].url | safe" [type]="listingRes.mediaPaths[0].contentType"> </video> 
                    </div>
                </div>
              <div class="card-body" style="padding:0px;">
                <div style="font-weight: 400;">{{listingRes.description}}</div>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div> 
      <!-- end row list-->
      <div   style="padding:10px 22px;">
        <div >
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="assets/images/listing3.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <div style="font-weight: 500;" *ngIf="isSaleSelect">12$</div>
                <div style="font-weight: 500;">Wooden Chair</div>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/images/listing1.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <div style="font-weight: 500;" *ngIf="isSaleSelect">12$</div>
                <div style="font-weight: 500;">Wooden Chair</div>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/images/listing2.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <div style="font-weight: 500;" *ngIf="isSaleSelect">12$</div>
                <div style="font-weight: 500;">Wooden Chair</div>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="assets/images/listing2.JPG" alt="Card image cap">
              <div class="card-body" style="padding:0px;">
                <div style="font-weight: 500;" *ngIf="isSaleSelect">12$</div>
                <div style="font-weight: 500;">Wooden Chair</div>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div> 


<!--modal for create-->
<div class="modal fade" id="newPost" data-bs-backdrop="static" data-bs-keyboard="false"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" required autocomplete="off">
	<div class="modal-dialog" role="document">
	  <div class="modal-content" >
		  <div>
		  <button type="button" class="close mr-2" data-bs-dismiss="modal" aria-label="Close" #closeButtonNewSave>
			<span aria-hidden="true">&times;</span>
		  </button>
		   </div>
		   <div class="modal-body" style="margin-top: -5px;">
			<div class="row mb-3">
			  <div class="col-sm-1"><div class="img-circle elevation-2 profile-3">{{userInfo?.userFirstName?.charAt(0).toUpperCase()}}</div></div>			 
			  <div class="col-sm-11">
          <div style="border-radius: 5px;border: 1px solid rgb(203, 203, 203);">
            <textarea class="form-control" placeholder="What's on your mind?" [(ngModel)]="postRequestModel.description" style="border:0px solid;"></textarea>
            <div id="imgSec2" class="image-preview mb-3" *ngIf="previewUrl2" [innerHtml]="data2"></div>
            <div id="emoSec2"></div>
          </div>
        <div class="m-1 d-flex">
          <div>
            <select class="form-control form-control-sm border-0" [(ngModel)]="postRequestModel.privacy">
              <option value="Anywhere" >Anywhere</option>
              <option value="Only Friends">Only Friends</option>
              <option value="Groups">Groups</option>
            </select>
          </div>
          <div></div>
        </div>
                 <div style="border-bottom: 1px solid rgb(203, 203, 203)"></div>
                  <div class="d-flex mt-1">
                        <div>
                          <label>
                            <i class="far fa-image mr-2 link3"  title="Upload Photo"></i>
                            <input type="file" id="file" style="display: none" name="image" accept="image/*" multiple="true" data-original-title="upload photos" (change)="onFileChanged($event,2)">
                          </label>
                          <a  routerLink="/signup" class="link-2" title="Upload GIF Poto"><img src="assets/images/GIF.png" style="width: 19px;margin-top: -4px;" class="mr-2"></a> 
                          <a  routerLink="/signup" class="link-2" title="Happyness"><i class="far fa-smile mr-2"></i></a> 
                          <a  routerLink="/signup" class="link-2" title="Poll"><img src="assets/images/Poll.png" style="width: 15px;margin-top: -4px;" class="mr-2"></a> 
                          <a  routerLink="/signup" class="link-2"><i class="far fa-calendar mr-2"></i></a>
                        </div>
                        <div class="ml-auto"><button type="button" class="btn-sm btn-info border-0" style="border-radius: 15px !important;background-color: #8B5805 !important;width: 95px;" (click)="createPost(2)">Post</button></div>
                  </div>
			  </div>
			</div>
		   </div>		   
		</div>
	</div>
  </div>



  <!--modal for create-->
<div class="modal fade" id="newList" data-bs-backdrop="static" data-bs-keyboard="false"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" required autocomplete="off">
	<div class="modal-dialog modal-lg" role="document">
	  <div class="modal-content" >
      <div class="d-flex">
           <div>
              <button type="button" class="close ml-2 mt-2" data-bs-dismiss="modal" aria-label="Close" #closeButtonNewList>
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="ml-auto mt-3 mr-3"><button type="button" class="btn-sm btn-info border-0" style="border-radius: 5px !important;background-color: #8B5805 !important;width: 95px;">List an Item</button></div>
      </div>		  
      <div class="modal-body" style="margin-top: -5px;">
        <div>
          <label>
            <img src="assets/images/Add_photo.png" alt="Card image cap" style="width: 70%;">
            <input type="file" id="file" style="display: none" name="image" accept="image/*" multiple="true" data-original-title="upload photos" (change)="onFileChangedPhoto($event)">
          </label>
        </div>
        <div style="padding-bottom: 10px;font-size: 11px;">Add up to 10 photos. Drag to reorder</div>
        <div style="font-weight: 500;">What are you selling?</div>
        <div class="form-groupmb-1">
              <label for="exampleInputFirst1" class="form-label">Title</label>
							<input type="text" class="form-control form-control-sm" id="exampleInputFirst1" name="title" placeholder="Title" required>
							<div class="text-danger" *ngIf="submitted && title==''">
								Please enter the title
							</div>
        </div>
        <div class="form-group mb-1">
          <label for="inputDescription" class="form-label">Description</label>
          <input type="text" class="form-control form-control-sm" id="inputDescription" name="description" placeholder="Description" required>
          <div class="text-danger" *ngIf="submitted && description==''">
            Please enter the description
          </div>
        </div>
        <div class="form-group mb-1">
          <div class="row">
              <div class="col-sm-3">
                <label for="inputPrice" class="form-label">Price</label>
                <input type="text" class="form-control form-control-sm" id="inputPrice" name="price" placeholder="Price" >
                <div class="text-danger" *ngIf="submitted && price==''">
                  Please enter the price
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-check form-switch" style="padding-top: 32px;">
                  <span style="margin-left: 25px;">Free</span>
                  <input class="form-check-input" type="checkbox" name="free" style="margin-left: 5px;margin-top: 5px;" role="switch" id="flexSwitchCheckFree">
                  <label class="form-check-label" for="flexSwitchCheckFree"></label>
                </div>
              </div>
          </div>
          
        </div>

        <div class="form-group mb-1">
          <div class="row">
              <div class="col-sm-3">
                <label for="inputCategory" class="form-label">Category</label>
                <input type="text" class="form-control form-control-sm" id="inputCategory" name="category" placeholder="Category" >
                <div class="text-danger" *ngIf="submitted && listcategory==''">
                  Please enter the category
                </div>
              </div>
              <div class="col-sm-6">
                <label for="inputPickup" class="form-label">Pickup location</label>
                <input type="text" class="form-control form-control-sm" id="inputPickup" name="pickup" placeholder="Pickup location" >
                <div class="text-danger" *ngIf="submitted && pickup==''">
                  Please enter the pickup location
                </div>
              </div>
              <div class="col-sm-3" style="padding-top: 32px;">
                <a class="forgot-password ml-2">Edit</a>
              </div>
          </div>
          
        </div>
			  <div class="row mb-3">
			 
			  </div>
		  </div>		   
		</div>
	</div>
  </div>

  <!--modal for create-->
<div class="modal fade" id="newAds" data-bs-backdrop="static" data-bs-keyboard="false"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" required autocomplete="off">
	<div class="modal-dialog modal-lg" role="document">
	  <div class="modal-content" >
      <div class="d-flex">
           <div class="ml-2 mt-2" style="font-weight: 500;font-size: 22px;">
            List Your Ads
           </div>
           <div class="ml-auto mt-3 mr-3">
            <button type="button" class="close ml-2" data-bs-dismiss="modal" aria-label="Close" #closeButtonNewAds>
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
      </div>		  
      <div class="modal-body" style="margin-top: -5px;">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group mb-1">
                  <label for="exampleInputBusiness" class="form-label">Business name</label>
							    <input type="text" class="form-control form-control-sm" id="exampleInputBusiness" [(ngModel)]="business" name="businessname" placeholder="Business name" required>
							    <div class="text-danger" *ngIf="submittedAd && business==''">
								   Please enter the business name
                  </div>
              </div>
              <div class="form-group mb-1">
                <label>
                  <button class="btn btn-sm btn-outline-light">Upload Logo <i class="fas fa-upload"></i></button>
                  <input type="file" id="file" style="display: none" name="image" accept="image/*" multiple="false" data-original-title="upload logo" (change)="onFileChangedLogo($event)">
                </label>
              </div>
              <div class="form-group mb-1">
                <label for="exampleInputAdsTitle" class="form-label">Ad Title</label>
                <input type="text" class="form-control form-control-sm" id="exampleInputAdsTitle"  [(ngModel)]="adsTitle" name="adsTitle" placeholder="Ad Title" required>
                <div class="text-danger" *ngIf="submittedAd && adsTitle==''">
                 Please enter the ad title
                </div>
              </div>

              <div class="form-group mb-1">
                <label for="inputAdDescription" class="form-label">Ad Description</label>
                <input type="text" class="form-control form-control-sm" id="inputAdDescription" [(ngModel)]="adDescription" name="adDescription" placeholder="AdDescription" required>
                <div class="text-danger" *ngIf="submittedAd && adDescription==''">
                  Please enter the Ad description
                </div>
              </div>

              <div class="form-group mb-1">
                <label for="inputAdCategory" class="form-label">Select Category</label>
                <select class="form-select form-select-sm" id="inputAdCategory" name="category" [(ngModel)]="category" aria-label=".form-select-sm example">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

            </div>
            <div class="col-sm-6">
              <div *ngIf="previewUrlImg1">
                <img [src]="previewUrlImg1" alt="Card image cap" style="width: 300px;height: 200px;" />
              </div>
              <div class="d-flex" style="max-height: 100px;max-width: 320px;overflow-x: auto;">
                  <div>
                    <span *ngFor="let pre of previewUrlImgAds">
                      <img class="mr-1" src="{{pre}}" width="80px" height="80px" />&nbsp;
                    </span>               
                  </div>
                  <div>
                    <label>
                      <img src="assets/images/Add_img.png" alt="Card image cap" style="width:80px">
                      <input type="file" id="file" style="display: none" name="image" accept="image/*" multiple="true" data-original-title="upload photos" (change)="onFileChangedImg($event)">
                    </label>
                  </div>
              </div>
            </div>
          </div>
              
        </div>
        
        <div class="form-group mb-1">
          <div class="row">
              <div class="col-sm-6">
                <label for="inputwebsiteLink" class="form-label">Website Link</label>
                <input type="text" class="form-control form-control-sm" id="inputwebsiteLink" [(ngModel)]="websiteLink"  name="websiteLink" placeholder="Website Link" >
              </div>
              <div class="col-sm-6" style="padding-top: 32px;text-align: right;">
                <button type="button" class="btn-sm btn-info border-0" style="border-radius: 5px !important;background-color: #8B5805 !important;width: 95px;" (click)="newAd()">Post Ads</button>
              </div>
          </div>
          
        </div>
		  </div>		   
		</div>
	</div>
  </div>