<div class="m-3">
	<!-- Outer Row -->
	<div>
		<a href="index.html">
			<img src="assets/images/myne-logo-f.png" style="height: 60px;" alt="logo">
		</a>
	 </div>
	<div class="row">
		<div class="col-sm-12">
			 <div class="d-flex justify-content-center">
				 <div></div>
				<div  style="width: 370px;background-color: #FAFEFF;border-radius: 5px;text-align: center;height: 466px;">
				<div class="m-5" *ngIf="stepPassword==0">
				<h3>Forgot password? </h3>
				<p style="color: gray;">Please enter your registered email to send a secure link to reset your password</p>
				<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
					<strong>{{error}}</strong> 
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<form  name='forgotForm' style="text-align: left;">
					<div class="form-group position-relative clearfix">
						<div class="mb-1">
							<label for="exampleInputEmail1" class="form-label">Email</label>
							<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" name="email"  [(ngModel)]="email" placeholder="Email" (ngModelChange)="email = $event.toLowerCase()" aria-describedby="emailHelp" required>
							<div *ngIf="submitted && email==''" class="text-danger">
								Please enter your email
						    </div>
						  </div>
					</div>
					<div style="margin-top: 5px;margin-bottom: 20px;">
						<button type="submit" class="btn-sm btn-primary btn-block border-0" style="background-color: #05838B;" (click)="nextStep(1)">Send email</button>
					</div>
				</form>
				</div>

                <div class="m-5" *ngIf="stepPassword==1">
					<h3>Check your email </h3>
					<p style="color: gray;">Enter the verification code send to Ab******23@gmail.com to reset your password</p>
					<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
						<strong>{{error}}</strong> 
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<form  name='verificationForm' style="text-align: left;">
						<div class="form-group position-relative clearfix">
							<div class="mb-1">
								<label for="exampleInputEnterCode1" class="form-label">Enter Code</label>
								<div class="form-inline">
								<input type="text" class="form-control form-control-sm" id="exampleInputEnterCode1" name="code1" style="width: 30px;margin-right: 10px;" required>
								<input type="text" class="form-control form-control-sm" id="exampleInputEnterCode1" name="code2" style="width: 30px;margin-right: 10px;" required>
								<input type="text" class="form-control form-control-sm" id="exampleInputEnterCode1" name="code3" style="width: 30px;margin-right: 10px;" required>
								<input type="text" class="form-control form-control-sm" id="exampleInputEnterCode1" name="code4" style="width: 30px;margin-right: 10px;" required>
								<input type="text" class="form-control form-control-sm" id="exampleInputEnterCode1" name="code5" style="width: 30px;margin-right: 10px;" required>
								<input type="text" class="form-control form-control-sm" id="exampleInputEnterCode1" name="code6" style="width: 30px;" required>
								</div>
								<div *ngIf="submittedVerifyCode && email==''" class="text-danger">
									Please enter the code
								</div>
							  </div>
						</div>
						<div class="clearfix" style="margin-top: 10px;text-align: center;">
							Not yet received ?<a  (click)="nextStep(2)" class="forgot-password ml-2"><span style="opacity: 0.5;">Try Again</span></a>
						</div>
					</form>
					</div>


					<div class="m-5" *ngIf="stepPassword==2">
						<h3>Set new password </h3>
						<p style="color: gray;">Create a new password to your account</p>
						<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
							<strong>{{error}}</strong> 
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
						<form  name='newpasswordForm' style="text-align: left;">
							<div class="form-group position-relative clearfix">
								<div class="mb-1">
									<label for="exampleInputEmail1" class="form-label">New password</label>
									<input type="password" class="form-control form-control-sm" id="exampleInputEmail1" name="newPassword" [(ngModel)]="newPassword"  placeholder="At least 8 characters" aria-describedby="emailHelp" required>
									<div *ngIf="submittedResetPwd && newPassword==''" class="text-danger">
										Please enter your password
									</div>
								  </div>
							</div>
							<div class="form-group position-relative clearfix">
								<div class="mb-1">
									<label for="exampleInputEmail2" class="form-label">Confirm a new password</label>
									<input type="password" class="form-control form-control-sm" id="exampleInputEmail2" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="At least 8 characters" aria-describedby="emailHelp" required>
									<div *ngIf="submittedResetPwd && confirmPassword==''" class="text-danger">
										Please enter your confirm password
									</div>
								  </div>
							</div>
							<div style="margin-top: 5px;margin-bottom: 20px;">
								<button type="submit" class="btn-sm btn-primary btn-block border-0" style="background-color: #05838B;" (click)="nextStep(3)">Reset password</button>
							</div>
						</form>
						</div>


						<div class="m-5" *ngIf="stepPassword==3">
							<h3>Reset successful ! </h3>
							<p style="color: gray;">Your password has been reset successfully! Now login with your new password</p>
							<form  name='successfullyForm' style="text-align: left;">
								<div style="margin-top: 5px;margin-bottom: 20px;">
									<button type="submit" class="btn-sm btn-primary btn-block border-0" style="background-color: #05838B;" >Log in</button>
								</div>
							</form>
							</div>

				</div>
				<div></div>
			</div>
		</div>
	</div>
</div>